.mobile-number-registration-form {
	.country-code {
		color: var(--color-functional-soft-black);
		font-size: 14px;
		font-weight: 400;
	}

	.register-button {
		width: 100%;
		margin-top: 40px;
	}

	.ant-input-group-addon {
		padding-left: 0;
	}
}
