.acuvue-green-btn {
	border-radius: 24px;
	border-width: 2px;
	border-style: solid;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;

	&.acuvue-btn-primary {
		background: #1aa6bd;
		color: var(--color-functional-background-white);
		border-color: #1aa6bd;

		&:disabled {
			color: var(--color-functional-background-white);
			background: #d5d5d5;
			border-color: #d5d5d5;
		}

		&:hover,
		&:focus {
			&:not(:disabled) {
				background: #33cee7;
				color: var(--color-functional-background-white);
				border-color: #33cee7;
			}
		}
	}

	&.acuvue-btn-outline {
		background: var(--color-functional-background-white);
		color: #1aa6bd;
		border-color: #1aa6bd;

		&:disabled {
			color: #d5d5d5;
			background: var(--color-functional-background-white);
			border-color: #d5d5d5;
		}

		&:hover,
		&:focus {
			&:not(:disabled) {
				color: #33cee7;
				background: var(--color-functional-background-white);
				border-color: #33cee7;
			}
		}
	}

	&.acuvue-btn-no-outline {
		background: var(--color-functional-background-white);
		color: #1aa6bd;
		border: none;

		&:disabled {
			color: #d5d5d5;
			background: var(--color-functional-background-white);
		}

		&:hover,
		&:focus {
			&:not(:disabled) {
				color: #33cee7;
				background: var(--color-functional-background-white);
			}
		}
	}
}
