.store-block {
	text-align: center;

	.select-store-button {
		width: 80%;
		margin-bottom: 10px;
	}

	.custom-store-block {
		float: right;
		text-align: left;
		width: 70%;
	}

	.store-name {
		font-weight: 600;
		margin-bottom: 0;
	}
}
