.edit-profile-legacy {
	main {
		padding: 30px 15px 0;
		margin-bottom: 100px;
	}

	.save-profile-btn-container {
		display: flex;
		justify-content: center;

		.save-profile-btn {
			width: 280px;
		}
	}
}
