.acuvue-modal {
	max-width: calc(93vw - 16px);
	top: unset;
	display: flex;
	align-items: center;
	height: 95%;

	.ant-modal-content {
		border-radius: 30px;

		.ant-modal-header {
			border-radius: 30px;
		}

		.ant-modal-close {
			border-radius: 50px;
			background: var(--color-functional-background-white);
			opacity: 1;
			top: -60px;
			right: -6px;
		}

		.ant-modal-close-x {
			width: 44px;
			height: 44px;
			font-size: 20px;
			line-height: 44px;
			background: transparent;

			.anticon {
				margin: 12px;
			}
		}

		.ant-modal-title {
			color: var(--color-brand-blue-1);
			font-size: 20px;
		}

		.ant-btn {
			background-color: var(--color-brand-blue-1);
			height: 40px;
		}

		.anticon-warning {
			font-size: 55px;
		}
	}
}
