.points-description {
	p {
		text-align: left;
	}

	.my-acuvue-points,
	.earn-my-acuvue-points {
		margin: 24px;
	}

	.member-benefits-button {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 12px;
	}

	.acuvue-logo-icon,
	.payment-icon {
		text-align: center;
	}
}
