.acuvue-progress .ant-progress-text {
	p {
		font-size: 17px;
	}

	.normal-badge {
		width: 45%;
	}

	.platinum-badge {
		width: 40%;
	}

	figcaption {
		color: var(--color-functional-dark-grey);
		font-size: 10px;
	}
}
