.marketing-preferences-form {
	.checkboxes-wrapper {
		padding: 9px;

		.title {
			margin-bottom: 23px;
		}

		.market-preference-checkboxes {
			display: flex;
			align-items: flex-end;
			gap: 26px 33px;
			flex-wrap: wrap;

			.checkbox {
				width: 147px;

				&.ant-checkbox-wrapper + .ant-checkbox-wrapper {
					margin-left: 0;
				}
			}
		}
	}

	.action-buttons {
		display: flex;
		flex-direction: column;
		gap: 24px;
		margin-top: 55px;

		.update-button,
		.cancel-button {
			width: 100%;
		}
	}
}

.wide-screen .marketing-preferences-form {
	.checkboxes-wrapper {
		padding: 0;

		.title {
			margin-bottom: 48px;
		}

		.market-preference-checkboxes {
			gap: 32px 69px;

			.checkbox {
				width: 147px;
			}
		}
	}
}
