.guest-view {
	margin: 0 15px;

	.image-wrapper {
		display: flex;
		width: 100%;
		justify-content: center;

		.magnifying-glass-on-sheet-image {
			padding-top: 40px;
			margin: 0 105px;

			img {
				width: 180px;
				height: 180px;
			}
		}
	}

	.guest-view-button-wrapper {
		text-align: center;
		margin: 40px 15px;

		button {
			width: 100%;
		}
	}

	.guest-view-description {
		margin-top: 40px;
		display: flex;
		font-size: 16px;
	}
}
