.registered-store-small-view {
	padding: 16px;
	box-shadow: 0 2px 6px #00000026;

	.title {
		display: flex;
		flex-direction: column;
		gap: 17px;
		margin-bottom: 17px;
	}

	.store-name {
		margin-top: 17px;
	}

	.address-section {
		margin-top: 16px;
	}

	.contact-section {
		margin-bottom: 10px;
	}

	.icons-with-link-wrapper {
		margin-top: 24px;
		display: flex;
		flex-direction: row;
		gap: 14px;

		.icon-with-link {
			flex: 1;
		}
	}
}

.optical-store-goback-button-wrapper {
	position: relative;
	top: 8px;

	.optical-store-goback-button {
		width: 50%;
		text-transform: uppercase;
		position: absolute;
		left: 0;
		right: 0;
		top: -30px;
		margin: 0 auto;
	}
}
