.acuvue-links-section-list-item {
	a {
		color: #ffffff;
		font-size: 14px;

		.chevron-right-icon {
			position: relative;
			top: 2px;
		}
	}

	&:hover {
		color: var(--color-accent-sky-blue) !important;

		a,
		.chevron-right-icon {
			color: var(--color-accent-sky-blue) !important;
		}
	}
}
