.acuvue-otp-input-label {
	.ant-form-item-explain {
		text-align: center;
	}

	.acuvue-otp-input {
		padding: 24px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.otp-input {
			height: 50px;
			border: 0;
			border-bottom: 3.5px solid var(--color-brand-blue-1);
			background-color: transparent;
			font-size: 14px;
			transition: all 0.2s ease;
			width: 45px !important;
			margin: 10px;
			color: var(--color-functional-soft-black);

			&:focus {
				box-shadow: none;
				outline: 0;
			}
		}
	}

	.ant-form-item-has-error .ant-input:hover {
		background-color: transparent;
	}

	.otp-server-error-message {
		color: var(--color-semantic-error-red-3);
	}
}
