.store-map-section {
	.store-name-in-tooltip {
		color: var(--color-functional-soft-black);
		font-size: 14px;
		font-weight: 500;
		line-height: 18px;
		text-transform: uppercase;
		margin-bottom: 13px;
	}
}
