:root {
	--font-family-root: var(--font-family-noto-sans-tc);

	--font-family-heading-1: var(--font-family-noe-display);
	--font-family-heading-2: var(--font-family-noto-sans-tc);
	--font-family-heading-3: var(--font-family-noto-sans-tc);
	--font-family-heading-overline: var(--font-family-noto-sans-tc);
	--font-family-body-1: var(--font-family-noto-sans-tc);
	--font-family-body-2: var(--font-family-noto-sans-tc);
	--font-family-caption: var(--font-family-noto-sans-tc);
	--font-family-overline: var(--font-family-noto-sans-tc);
	--font-family-member-name: var(--font-family-noe-display);
}
