.wallet-coupon-card {
	margin: 15px 0;

	.coupon-multiplier {
		font-size: 20px;
	}

	.wallet-coupon-status {
		font-weight: 500;
		font-size: 14px;
		margin-bottom: 0;
	}

	.wallet-coupon-store {
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 10px;
	}
}
