.acuvue-edit-address {
	width: 100%;
	background-image: url("../../images/gray-circles.jpg");
	background-size: cover;
	background-repeat: no-repeat;

	.content-wrapper {
		max-width: 416px;
		margin: 0 auto 48px auto;
		padding: 0 16px;

		.edit-address-title {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 40px 0;
		}
	}

	.input-items-wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	.update-button,
	.cancel-button {
		width: 100%;
		margin-bottom: 16px;
	}

	.address-form-title {
		color: var(--color-brand-blue-1);
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 16px;
	}

	.address-detail-item {
		color: var(--color-functional-soft-black);
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 16px;

		.text-label {
			display: inline-block;
			width: 120px;
		}

		.text {
			font-weight: 400;
		}
	}

	.edit-address-state-select {
		label {
			color: var(--color-brand-blue-1);
			font-weight: 500;
		}

		.acuvue-select {
			height: 28px;
		}
	}
}

.wide-screen .acuvue-edit-address {
	.content-wrapper {
		margin: 0 auto 97px auto;

		.edit-address-title {
			margin-top: 48px;
			margin-bottom: 60px;
		}
	}

	.input-items-wrapper {
		display: flex;
		gap: 16px;
		flex-direction: row !important;

		.input-wrapper {
			width: 50%;
		}
	}
}
