.points-terms-and-conditions {
	main {
		padding: 30px 15px 0;
		margin-bottom: 100px;

		h1 {
			text-align: left;
		}

		p {
			text-align: justify;
			margin-right: auto;
		}

		.close-button {
			width: 100%;
		}
	}
}
