.acuvue-mega-menu {
	display: flex;
	flex-shrink: 0;
	flex-grow: 1;
	position: relative;
	align-items: center;
	margin-left: 27px;
	margin-right: 11px;
	z-index: 10;
	gap: 38px;

	.menu-item {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		color: var(--color-brand-blue-1);
		transition: color 0.3s ease;

		&:hover {
			color: var(--color-accent-sky-blue) !important;
		}

		.menu-title {
			display: flex;
			align-items: center;
			height: 64px;
			cursor: pointer;

			&:focus,
			&:enabled {
				border-radius: 18px !important;
				outline-width: 1px !important;
				outline-style: dotted !important;
				outline-color: var(--color-accent-sky-blue) !important;
			}
		}
	}

	.menu-item:hover .dropdown-content {
		visibility: visible;
		height: fit-content;
	}

	.dropdown-content {
		text-align: center;
		position: fixed;
		left: 0;

		visibility: hidden;
		height: 0;

		top: 105px;
		width: 100%;
		margin: 0 auto;
		background-color: #3d3d47;
		justify-content: space-evenly;
		border-bottom-width: 2px;
		border-bottom-color: var(--color-functional-background-white);
		border-bottom-style: solid;
		max-height: max-content;
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 10px;

		.dropdown-content-wrapper {
			max-width: var(--content-max-width);
			margin: 0 auto;
		}

		.link-group {
			display: inline-flex;
			flex-direction: column;
			text-align: left;
			margin-bottom: 2%;
			padding-bottom: 20px;
			width: 18.4%;
		}

		& ul {
			margin-left: 0;
			padding-left: 0;
			padding-right: 20px;
			width: 100%;
		}

		.list-header {
			margin-bottom: 4px;
			margin-left: 2%;
		}

		.list-item {
			margin-bottom: 10px;
			margin-left: 2%;
		}
	}
}

.no-top-header-links .dropdown-content {
	top: 65px;
}
