.acuvue-membership-block-benefits-list {
	.benefits-heading {
		font-size: 12px;
		color: var(--color-functional-dark-grey);
		line-height: 15px;
		margin-bottom: 8px;
		font-weight: 500;
		text-transform: uppercase;
	}

	.benefits-list {
		color: var(--color-functional-soft-black);
		font-size: 14px;
		padding-inline-start: 18px;
		font-weight: 300;
	}
}
