.otp-verification {
	main {
		padding: 30px 15px 0;
	}

	.enter-otp {
		font-weight: 900;
		font-size: 24px;
		text-align: left;
		letter-spacing: 0;
		color: var(--color-brand-blue-1);
	}

	.enter-otp-container {
		display: flex;
		flex-direction: column;
		margin: 2rem auto;

		.otp-send-text {
			text-align: left;
			letter-spacing: 0;
			color: var(--color-functional-soft-black);
			font-size: 14px;
		}

		span {
			color: var(--color-semantic-error-red-3);
			font-size: 14px;
			text-align: center;
			margin-top: 0.5rem;
		}
	}

	.otp-resend {
		text-align: left;
		letter-spacing: 0;

		button {
			padding: 0 2px 0 0;
			background-color: var(--color-functional-background-white);
			color: var(--color-brand-blue-2);
			border: none;
			outline: none;
			text-decoration: underline;

			&:focus {
				outline: none;
				border: none;
			}
		}
	}

	.verify-button {
		width: 335px;
		color: var(--color-functional-background-white);
		text-transform: uppercase;
		display: block;
		margin-top: 4rem;
		margin-bottom: auto;
		margin-right: auto;
		margin-left: auto;
	}

	.ant-form-item-explain.ant-form-item-explain-error {
		color: var(--color-semantic-error-red-3);
		font-size: 14px;
		text-align: center;
	}
}
