.terms-policy {
	main {
		padding: 15px;
		display: flex;
		flex-direction: column;
		height: 100vh;

		.policy-tabs {
			background-color: var(--color-functional-background-white);
		}

		.policy-content {
			flex-grow: 1;
			overflow: auto;
			text-align: justify;
			padding: 0 10px;
		}

		.buttons-wrapper {
			margin-top: 15px;
			flex: 0 0 auto;

			.accept-button {
				margin-bottom: 15px;
			}

			.next-button,
			.accept-button,
			.decline-button {
				width: 100%;
			}
		}
	}
}
